# 1. Import các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np

# 2. Thu thập dữ liệu

### Dữ liệu thuộc chủ đề gì và lấy từ nguồn nào?
* Dữ liệu sử dụng trong đồ án được lấy từ trang kaggle thu thập các thông tin về "Data scientist salary"

# 3. KHÁM PHÁ DỮ LIỆU

### Đọc dữ liệu từ file csv vào dataframes

In [2]:
project_dataframe= pd.read_csv('data/salary_data.csv',index_col='index')
# project_dataframe.drop("Unnamed: 5",axis=1, inplace=True)
project_dataframe.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
index,,,,,,,,,,,,,,,,,,,,,
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,...,0,0,1,1,0,0,0,data scientist,na,M
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,0,0,0,0,0,0,0,data scientist,na,M
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,M
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,...,0,0,0,0,0,0,0,data scientist,na,na
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,na

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột

In [3]:
num_rows, num_cols= project_dataframe.shape
print(project_dataframe.shape)

(742, 41)

### Mỗi dòng có ý nghĩa gì?

Mỗi dòng chứa các thông tin về mức lương tối thiểu/ tối đa/ trung bình, mô tả công việc, tuổi công ty,....
Các giá trị -1 nghĩa là thông tin không có sẵn.

### Có vấn đề các dòng có ý nghĩa khác nhau không?

Nhìn tổng quan, các dòng đều giống nhau về ý nghĩa

### Dữ liệu có các dòng bị lặp không?

In [4]:
duplicated_rows=project_dataframe.duplicated().any()
print('Have duplicated rows: ',duplicated_rows)
# Xóa các dòng bị lặp
project_dataframe.drop_duplicates(inplace=True)

# Số dòng và số cột sau khi xóa các dòng bị lặp
print(project_dataframe.shape)

Have duplicated rows:  True
(467, 41)

### Mỗi cột có ý nghĩa gì?

In [5]:

Salary_data_descript=pd.read_csv('Data_description/Data_salary_decription.csv',sep=',')

pd.set_option('display.max_colwidth',None)
Salary_data_descript

,Columns,description
0,Index,id
1,Job Title,The title of job
2,Salary Estimate,Range of salary and the source
3,Job Description,Tells us what qualities that company want and what is expected out of the job title
4,Rating,rating of the company
5,Company Name,Name of the company
6,Location,Location of the job
7,Headquarters,Location of headquarter of the company
8,Size,Range of number of employee working in the company
9,Founded,Company founded in year
10,Type of ownership,Industry like IT industry or Pharmaceutical industry etc
11,Sector,Sector in which company works
12,Revenue,Total revennue of the company per year
13,Competitors,Current competitors of the company
14,Hourly,1: If salary was reported in hourly rate. 0: Otherwise
15,Employer provided,1: If the salary was provided by the employer 0: Otherwise
16,Lower Salary,Minimum Salary reported for the job in a particular company.
17,Upper Salary,Maximum salary reported for the job in a particular company.
18,Avg Salary(K),Average salary reported for the job in a particular company.
19,company_txt,It contains the name of the company.
20,Job Location,Cleaned job location (State) column
21,Age,Age of the company (in yrs)
22,Python,1: If Python skill is required 0: Otherwise
23,spark,1: If Spark skill is required 0: Otherwise
24,aws,1: If AWS skill is required 0: Otherwise
25,excel,1: If Excel skill is required 0: Otherwise
26,sql,1: If Excel SQL is required 0: Otherwise
27,sas,1: If SAS skill is required 0: Otherwise
28,keras,1: If Keras skill is required 0: Otherwise
29,pytorch,1: If Pytorch skill is required 0: Otherwise
30,scikit,1: If Scikit skill is required 0: Otherwise
31,tensor,1: If Tensor skill is required 0: Otherwise
32,hadoop,1: If Hadoop skill is required 0: Otherwise
33,tableau,1: If Tableau skill is required 0: Otherwise
34,bi,1: If PowerBi skill is required 0: Otherwise
35,flink,1: If Flink skill is required 0: Otherwise
36,mongo,1: If MangoDB skill is required 0: Otherwise
37,google_an,1: If Google analytics certificate is required 0: Otherwise
38,seniority_by_title,Seniority in title
39,Degree,M: If the job title requires it or provide experience years for having it. P: If the job title requires it or provide experience years for having it.

### Mỗi cột hiện đang có kiểu dữ liệu gì?

In [6]:
project_dataframe.dtypes

Job Title              object
Salary Estimate        object
Job Description        object
Rating                float64
Company Name           object
Location               object
Headquarters           object
Size                   object
Founded                 int64
Type of ownership      object
Industry               object
Sector                 object
Revenue                object
Competitors            object
Hourly                  int64
Employer provided       int64
Lower Salary            int64
Upper Salary            int64
Avg Salary(K)         float64
company_txt            object
Job Location           object
Age                     int64
Python                  int64
spark                   int64
aws                     int64
excel                   int64
sql                     int64
sas                     int64
keras                   int64
pytorch                 int64
scikit                  int64
tensor                  int64
hadoop                  int64
tableau                 int64
bi                      int64
flink                   int64
mongo                   int64
google_an               int64
job_title_sim          object
seniority_by_title     object
Degree                 object
dtype: object

Các cột dữ liệu đang có type là "Object", kiểm tra các kiểu dữ liệu tồn tại trong nội bộ các cột.

In [7]:
def type_(value):
    return type(value)
def check_type(s):
    dtypes = set()
    h=s.apply(type_)
    dtypes=set(h)
    return dtypes
col_name=project_dataframe.columns

df_Types=[]
for i in col_name:
    df_Types.append(check_type(project_dataframe[i]))
for i in range(len(col_name)):
    print("dtype of ",col_name[i]," :",df_Types[i])

project_dataframe.dtypes

dtype of  Job Title  : {<class 'str'>}
dtype of  Salary Estimate  : {<class 'str'>}
dtype of  Job Description  : {<class 'str'>}
dtype of  Rating  : {<class 'float'>}
dtype of  Company Name  : {<class 'str'>}
dtype of  Location  : {<class 'str'>}
dtype of  Headquarters  : {<class 'str'>}
dtype of  Size  : {<class 'str'>}
dtype of  Founded  : {<class 'int'>}
dtype of  Type of ownership  : {<class 'str'>}
dtype of  Industry  : {<class 'str'>}
dtype of  Sector  : {<class 'str'>}
dtype of  Revenue  : {<class 'str'>}
dtype of  Competitors  : {<class 'str'>}
dtype of  Hourly  : {<class 'int'>}
dtype of  Employer provided  : {<class 'int'>}
dtype of  Lower Salary  : {<class 'int'>}
dtype of  Upper Salary  : {<class 'int'>}
dtype of  Avg Salary(K)  : {<class 'float'>}
dtype of  company_txt  : {<class 'str'>}
dtype of  Job Location  : {<class 'str'>}
dtype of  Age  : {<class 'int'>}
dtype of  Python  : {<class 'int'>}
dtype of  spark  : {<class 'int'>}
dtype of  aws  : {<class 'int'>}
dtype of  excel  : {<class 'int'>}
dtype of  sql  : {<class 'int'>}
dtype of  sas  : {<class 'int'>}
dtype of  keras  : {<class 'int'>}
dtype of  pytorch  : {<class 'int'>}
dtype of  scikit  : {<class 'int'>}
dtype of  tensor  : {<class 'int'>}
dtype of  hadoop  : {<class 'int'>}
dtype of  tableau  : {<class 'int'>}
dtype of  bi  : {<class 'int'>}
dtype of  flink  : {<class 'int'>}
dtype of  mongo  : {<class 'int'>}
dtype of  google_an  : {<class 'int'>}
dtype of  job_title_sim  : {<class 'str'>}
dtype of  seniority_by_title  : {<class 'str'>}
dtype of  Degree  : {<class 'str'>}

Job Title              object
Salary Estimate        object
Job Description        object
Rating                float64
Company Name           object
Location               object
Headquarters           object
Size                   object
Founded                 int64
Type of ownership      object
Industry               object
Sector                 object
Revenue                object
Competitors            object
Hourly                  int64
Employer provided       int64
Lower Salary            int64
Upper Salary            int64
Avg Salary(K)         float64
company_txt            object
Job Location           object
Age                     int64
Python                  int64
spark                   int64
aws                     int64
excel                   int64
sql                     int64
sas                     int64
keras                   int64
pytorch                 int64
scikit                  int64
tensor                  int64
hadoop                  int64
tableau                 int64
bi                      int64
flink                   int64
mongo                   int64
google_an               int64
job_title_sim          object
seniority_by_title     object
Degree                 object
dtype: object

### Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

Suy nghĩ: 
* Có một số cột chưa phù hợp hoặc cần thiết cho việc tính toán, ta có thể đi xử lý dữ liệu dần dần trong quá trình trả lời câu hỏi.
* Cột "Salary Estimate" khá quan trọng nhưng nó chưa có dạng dữ liệu phù hợp, nó có ý nghĩa chỉ giá trị lương trong một khoảng nào đó. 
* Trong đồ án này, ta sẽ thực hiện 2 việc với cột này:
   + Tạo 1 cột "avarage salary" lưu giữ giá trị lương trung bình
   + Đưa cột "Salary Estimate" về 1 array có dạng [ min_salary, max_salary] để dùng cho việc trả lời câu hỏi sau này

1. Đưa cột "Salary Estimate" về 1 array có dạng [ min_salary, max_salary]

In [8]:
character_remove=["Glassdoor est.","K","−"]


#chỉ lấy khoảng giá trị, bỏ nguồn  ví dụ  [$53K-$91K , Glassdoor est.)]  bỏ  Glassdoor est.)
project_dataframe['Salary Estimate']=project_dataframe['Salary Estimate'].str.split(" ").str[0]   #.str[0]



project_dataframe['Salary Estimate']=project_dataframe['Salary Estimate'].str.replace("K",'',regex= False) 
project_dataframe['Salary Estimate']=project_dataframe['Salary Estimate'].str.replace("-",',',regex=False)
project_dataframe['Salary Estimate']=project_dataframe['Salary Estimate'].str.replace("$",'',regex=False)



def change_narray(s):
    s=s.split(",")
    try:     
        s=np.array(s,dtype=float)
     # có 1 số dòng là ngoại lệ nên không thể xử lý được theo cách trên, 
    #  ta gán giá trị bằng 0 và loại bỏ các dòng này ra khỏi dữ liệu
    except ValueError:  
        s=np.nan
    return s

project_dataframe['Salary Estimate']=project_dataframe['Salary Estimate'].apply(change_narray)



# #loại bỏ các dòng =0
index_removed=project_dataframe['Salary Estimate'][project_dataframe['Salary Estimate'].isna()==True].index

project_dataframe=project_dataframe.drop(index_removed)





# project_dataframe['Salary Estimate']
# project_dataframe['Lower Salary']       # jjjjj

index
0      53
1      63
2      80
3      56
4      86
       ..
896    63
901    65
928    59
945    80
948    62
Name: Lower Salary, Length: 450, dtype: int64

Sau khi xử lý, cột "salary estimate" đang giữ khoảng lương [min,max]

2.Tạo 1 cột "avarage salary" lưu giữ giá trị lương trung bình

In [9]:

def avarage_salary(s):
    return s[0]/2 + s[1]/2
project_dataframe['Avarage salary']=project_dataframe['Salary Estimate'].apply(avarage_salary)
print(project_dataframe['Avarage salary'])

index
0       72.0
1       87.5
2       85.0
3       76.5
4      114.5
       ...
896     86.5
901     89.0
928     92.0
945    111.0
948     87.5
Name: Avarage salary, Length: 450, dtype: float64

### Loại bỏ các cột không sử dụng đến

Nhóm sẽ bỏ đi một vài cột không cần thiết như: ```Job Description```, ```Company Name```,```Job Location```, ```Age```, ```Competitors```,```Hourly```,```Employer provided```.

In [10]:
project_dataframe.drop(['Job Description','Company Name','Competitors','Employer provided','Hourly',\
            'Job Location','Age']\
            ,axis=1, inplace=True)
project_dataframe.head()

,Job Title,Salary Estimate,Rating,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,...,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree,Avarage salary
index,,,,,,,,,,,,,,,,,,,,,
0,Data Scientist,"[53.0, 91.0]",3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,...,0,1,1,0,0,0,data scientist,na,M,72.0
1,Healthcare Data Scientist,"[63.0, 112.0]",3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,Health Care Services & Hospitals,Health Care,...,0,0,0,0,0,0,data scientist,na,M,87.5
2,Data Scientist,"[80.0, 90.0]",4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,Business Services,...,0,0,0,0,0,0,data scientist,na,M,85.0
3,Data Scientist,"[56.0, 97.0]",3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",...,0,0,0,0,0,0,data scientist,na,na,76.5
4,Data Scientist,"[86.0, 143.0]",2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,...,0,0,0,0,0,0,data scientist,na,na,114.5

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

• Min? max? 

→ Có gì bất thường không?

In [11]:
# những cột dữ liệu dạng số thuần túy
num_col_profile = project_dataframe[['Rating','Lower Salary','Upper Salary','Avg Salary(K)']]

# những cột dữ liệu yêu cầu kỹ năng này cho công việc (1 là cần, 0 là không cần thiết cho công việc)
skill_col_profile = project_dataframe[['Python','spark','aws','excel','sql','sas','keras','pytorch','scikit','tensor',\
                            'hadoop','tableau','bi','flink','mongo','google_an']]

In [12]:
num_col_profile.describe()

           Rating  Lower Salary  Upper Salary  Avg Salary(K)
count  450.000000    450.000000    450.000000     450.000000
mean     3.700444     73.333333    127.831111     100.582222
std      0.604917     27.980983     43.064802      35.150835
min     -1.000000     20.000000     35.000000      27.500000
25%      3.400000     53.000000     97.250000      75.625000
50%      3.700000     69.000000    124.000000      96.750000
75%      4.075000     87.750000    150.000000     120.875000
max      5.000000    202.000000    306.000000     254.000000

-> có bất thường tại min của cột rating (xem nguyên nhân và xử lý)

In [13]:
# for i in project_dataframe["Rating"]:
#     print(i)

3.8
3.4
4.8
3.8
2.9
3.4
4.1
3.8
3.3
4.6
3.5
4.1
3.2
4.1
3.7
3.6
3.9
4.3
4.2
4.0
3.2
3.9
3.8
4.3
4.0
4.0
3.5
3.7
4.0
3.6
3.8
3.8
4.7
4.2
3.5
4.7
3.5
3.5
4.2
3.6
4.2
3.4
3.7
3.1
4.7
3.7
3.8
3.3
4.6
3.7
3.7
3.5
4.1
4.7
4.4
4.3
3.8
3.8
3.8
2.8
4.7
3.1
3.2
4.0
4.4
3.6
2.7
3.9
3.1
4.0
4.3
1.9
3.3
4.4
3.9
4.7
4.5
4.3
4.0
4.4
4.2
4.5
3.5
3.5
3.9
4.7
4.2
3.4
3.2
3.9
3.1
4.1
3.8
4.7
4.3
3.9
3.3
4.7
4.3
2.9
4.5
3.4
3.2
4.0
4.6
2.8
4.7
3.0
3.2
4.4
3.5
4.0
2.3
4.0
3.6
3.8
3.7
4.4
4.0
3.2
2.9
3.8
4.3
3.4
4.3
3.7
4.2
4.3
2.6
3.8
3.9
4.3
3.8
3.8
3.8
4.8
4.4
3.9
3.4
3.6
3.9
3.8
3.7
3.8
3.5
4.2
3.5
2.9
3.6
2.7
4.4
4.0
4.3
4.2
3.6
3.7
2.8
3.7
3.3
3.6
3.7
3.4
4.1
2.6
3.2
3.9
4.7
3.7
2.9
3.0
4.7
3.7
3.3
4.0
4.4
3.9
3.3
3.6
4.0
2.4
2.6
3.5
3.0
3.6
3.3
2.7
3.4
3.7
4.8
3.8
3.4
4.3
3.4
3.1
3.2
4.3
2.8
3.4
4.0
3.7
3.5
4.7
4.4
4.1
2.5
4.2
4.3
3.9
3.4
3.8
3.3
3.4
3.0
3.7
3.2
3.9
4.2
4.0
3.5
3.2
3.9
3.5
4.3
3.6
2.3
4.0
4.1
4.2
4.6
3.7
3.7
4.4
3.9
3.6
3.4
4.1
3.8
4.0
3.9
4.4
2.2
4.1
3.8
3.6
3.5
3.3
3.4
4.4
3.8
3.5
3.5
2.9
3.9
3.7
3.6
3.7
3.1
3.6
3.0
3.5
3.5
3.7
3.2
2.1
3.7
4.4
3.7
3.9
4.0
4.4
3.4
3.3
2.9
3.1
3.3
4.5
3.9
3.2
3.1
2.4
4.8
2.9
2.9
3.4
2.6
3.6
4.0
3.8
3.9
3.8
4.3
1.9
3.3
4.7
3.1
4.4
3.9
3.9
4.7
4.7
3.4
3.8
2.7
3.1
4.0
3.5
3.4
3.7
3.8
4.6
4.4
3.0
4.7
3.8
3.2
2.7
3.3
3.9
3.1
3.7
4.3
3.6
2.1
3.9
3.9
3.8
3.1
5.0
3.6
4.7
3.5
2.7
3.4
4.7
2.8
3.5
3.2
3.7
4.7
4.1
4.0
2.5
3.9
3.4
3.6
3.5
-1.0
3.5
4.8
4.0
4.2
3.8
3.7
4.6
4.3
4.0
3.9
3.1
3.6
4.2
4.0
3.9
3.7
4.4
3.4
3.7
3.5
4.4
3.9
3.2
4.0
3.4
3.2
3.5
4.2
4.2
3.1
3.9
4.3
3.3
3.9
4.0
3.5
3.2
3.2
3.8
3.7
3.0
3.8
4.7
3.9
3.6
3.6
3.9
4.4
3.6
3.2
4.2
3.1
3.8
4.0
4.0
3.6
3.8
3.2
3.8
4.5
3.4
3.3
3.8
3.9
4.1
3.7
2.8
3.0
4.0
3.0
4.2
3.5
3.3
3.9
3.7
3.2
4.6
2.2
4.6
2.6
3.4
3.3
3.7
3.5
2.7
3.8
3.7
3.8
3.3
2.7
3.9
3.6
3.5
3.4
4.3
2.6
3.8
3.2
4.3
3.4
4.0
4.1
3.9

• Số-lượng/tỉ-lệ các giá trị thiếu?

In [14]:

# tỉ lệ các giá trị thiếu
def missing_percent(s):
    missing_count=s.isnull().sum() + s[s=='-1'].count()
    result=float(missing_count)/float(s.shape[0]) * float(100)
    return result

col_name=project_dataframe.columns
missing_ratio=[]
for i in col_name:
    missing=missing_percent(project_dataframe[i])
    print("{", i, ": ",missing, "}")

{ Job Title :  0.0 }
{ Salary Estimate :  0.0 }
{ Rating :  0.0 }
{ Location :  0.0 }
{ Headquarters :  0.0 }
{ Size :  0.0 }
{ Founded :  0.0 }
{ Type of ownership :  0.0 }
{ Industry :  0.4444444444444444 }
{ Sector :  0.4444444444444444 }
{ Revenue :  0.0 }
{ Lower Salary :  0.0 }
{ Upper Salary :  0.0 }
{ Avg Salary(K) :  0.0 }
{ company_txt :  0.0 }
{ Python :  0.0 }
{ spark :  0.0 }
{ aws :  0.0 }
{ excel :  0.0 }
{ sql :  0.0 }
{ sas :  0.0 }
{ keras :  0.0 }
{ pytorch :  0.0 }
{ scikit :  0.0 }
{ tensor :  0.0 }
{ hadoop :  0.0 }
{ tableau :  0.0 }
{ bi :  0.0 }
{ flink :  0.0 }
{ mongo :  0.0 }
{ google_an :  0.0 }
{ job_title_sim :  0.0 }
{ seniority_by_title :  0.0 }
{ Degree :  0.0 }
{ Avarage salary :  0.0 }

C:\Users\ASUS\.conda\envs\min_ds-env\lib\site-packages\pandas\core\ops\array_ops.py:55: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = libops.scalar_compare(x.ravel(), y, op)

In [ ]:
# số người biết, không biết kĩ năng nào đó
skill_col_profile.agg([pd.Series.value_counts])

In [ ]:
#vẽ cột....

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?
• Số-lượng/tỉ-lệ các giá trị thiếu?

• Số lượng các giá trị khác nhau? Show một vài giá trị

→ Có gì bất thường không?

- Các cột có kiểu dữ liệu dạng phân loại (categorical) là: ```Job Title```, ```Salary Estimate```, ```Location```, ```Headquarters```, ```Size```, ```Type of ownership```, ```Industry```,```Sector```, ```Revenue```, ```company_txt```, ```job_title_sim```, ```seniority_by_title```, ```Degree```.
- Cần chuyển những cột dữ liệu dạng phân loại sau thành dạng số: ```Salary Estimate```, ```Size```, ```Revenue```.

In [15]:
cate_col_profile = project_dataframe[['Job Title','Location', 'Headquarters','Type of ownership', 'Industry','Sector',\
                          'company_txt', 'job_title_sim', 'seniority_by_title', 'Degree']]

In [16]:
cate_col_profile.head()

,Job Title,Location,Headquarters,Type of ownership,Industry,Sector,company_txt,job_title_sim,seniority_by_title,Degree
index,,,,,,,,,,
0,Data Scientist,"Albuquerque, NM","Goleta, CA",Company - Private,Aerospace & Defense,Aerospace & Defense,Tecolote Research,data scientist,na,M
1,Healthcare Data Scientist,"Linthicum, MD","Baltimore, MD",Other Organization,Health Care Services & Hospitals,Health Care,University of Maryland Medical System,data scientist,na,M
2,Data Scientist,"Clearwater, FL","Clearwater, FL",Company - Private,Security Services,Business Services,KnowBe4,data scientist,na,M
3,Data Scientist,"Richland, WA","Richland, WA",Government,Energy,"Oil, Gas, Energy & Utilities",PNNL,data scientist,na,na
4,Data Scientist,"New York, NY","New York, NY",Company - Private,Advertising & Marketing,Business Services,Affinity Solutions,data scientist,na,na

In [ ]:
#tính giá trị thiếu, loại bỏ giá trị thiếu
# đưa hàm missing xuống tính


#một số giá trị chỉ có trong cột
def num_diff_vals(s):
    return pd.Series.nunique(s)

# 4. Đưa ra các câu hỏi có ý nghĩa cần trả lời

# 5.Tiền xử lý + phân tích dữ liệu để trả lời cho từng câu hỏi