# 1. Import các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np

# 2. Thu thập dữ liệu

### Dữ liệu thuộc chủ đề gì và lấy từ nguồn nào?
* Dữ liệu sử dụng trong đồ án được lấy từ trang kaggle thu thập các thông tin về "Hollywood Theatrical Market Synopsis 1995 to 2021"

* Có tổng cộng 9 file csv. Trong đồ án này ta dùng 
"AnnualTicketSales.csv"

# 3. KHÁM PHÁ DỮ LIỆU

In [2]:
project_dataframe= pd.read_csv('data/AnnualTicketSales.csv',sep=',')
project_dataframe.drop("Unnamed: 5",axis=1, inplace=True)
project_dataframe.head()

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,"42,37,74,881","$3,881,777,912","$3,881,777,912",$9.16
1,2020,"22,36,38,958","$2,048,534,616","$2,048,534,616",$9.16
2,2019,"1,22,85,41,629","$11,253,443,955","$11,253,444,050",$9.16
3,2018,"1,31,15,36,128","$11,948,096,650","$12,013,670,952",$9.11
4,2017,"1,22,56,39,761","$10,993,991,460","$11,226,860,216",$8.97

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột

In [3]:
num_rows, num_cols= project_dataframe.shape

### Mỗi dòng có ý nghĩa gì?

Mỗi dòng cho biết các thông tin về doanh thu, giá vé trung bình, lượng vé bán được qua mỗi năm.

### Có vấn đề các dòng có ý nghĩa khác nhau không?

Nhìn tổng quan, các dòng đều giống nhau về ý nghĩa

### Dữ liệu có các dòng bị lặp không?

In [4]:
duplicated_rows=project_dataframe.duplicated().all()
if (duplicated_rows== False) : print(" Don't have duplicated_rows")

 Don't have duplicated_rows

### Mỗi cột có ý nghĩa gì?

In [5]:

Annualticket_sales_descript=pd.read_csv('Data_description/AnnualTicketSales_decription.csv')

pd.set_option('display.max_colwidth',None)
Annualticket_sales_descript

,Columns,description
0,YEAR,Year in which the corresponding theatrical market data has been collected
1,TICKETS SOLD,The total number of domestic movie tickets sold in each of the respective years
2,TOTAL BOX OFFICE,Total box office collection combined of all movies released that particular year considered
3,TOTAL INFLATION ADJUSTED BOX OFFICE,Adjusted box office collection with respect to the inflammation that has been caused over time
4,AVERAGE TICKET PRICE,The average ticket price considering all films released that particular year considered

### Mỗi cột hiện đang có kiểu dữ liệu gì?

In [6]:
project_dataframe.dtypes

YEAR                                    int64
TICKETS SOLD                           object
TOTAL BOX OFFICE                       object
TOTAL INFLATION ADJUSTED BOX OFFICE    object
AVERAGE TICKET PRICE                   object
dtype: object

Các cột dữ liệu đang có type là "Object", kiểm tra các kiểu dữ liệu tồn tại trong nội bộ các cột.

In [7]:
def type_(value):
    return type(value)
def check_type(s):
    dtypes = set()
    h=s.apply(type_)
    dtypes=set(h)
    return dtypes
col_name=project_dataframe.columns

df_Types=[]
for i in col_name:
    df_Types.append(check_type(project_dataframe[i]))
for i in range(len(col_name)):
    print("dtype of ",col_name[i]," :",df_Types[i])

dtype of  YEAR  : {<class 'int'>}
dtype of  TICKETS SOLD  : {<class 'str'>}
dtype of  TOTAL BOX OFFICE  : {<class 'str'>}
dtype of  TOTAL INFLATION ADJUSTED BOX OFFICE  : {<class 'str'>}
dtype of  AVERAGE TICKET PRICE  : {<class 'str'>}

Nhận xét: 
* Ta nên đưa cột "YEAR" đang có kiểu int về kiểu dữ liệu datetime, có điều trong những bước xử lý tiếp theo có vẻ như không ảnh hưởng nên tạm thời ta để vậy.
* TICKETS SOLD (string) nên được đưa về kiểu dữ liệu dạng số (numerical) sau khi xử lý loại bỏ dấu , trong dòng
* 3 cột "TOTAL BOX OFFICE","TOTAL INFLATION ADJUSTED BOX OFFICE","AVERAGE TICKET PRICE"  (đang có kiểu string) cần xử lý loại bỏ "$". rồi đưa về dữ liệu dạng số(numerical)

### Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

* Đưa tickets sold về kiểu dữ liệu Float64

In [8]:
# loại bỏ dấu ' trong chuỗi '
project_dataframe['TICKETS SOLD']=project_dataframe['TICKETS SOLD'].str.replace(',', '',regex= False)
project_dataframe['TICKETS SOLD']=project_dataframe['TICKETS SOLD'].apply(np.float64)

* Đưa "TOTAL BOX OFFICE","TOTAL INFLATION ADJUSTED BOX OFFICE","AVERAGE TICKET PRICE" về kiểu dữ liệu float 64

In [9]:
def remove_(s):  # xóa kí tự "$", "," trong chuỗi
    s=s.replace('$','')
    s=s.replace(',','')
    return s
def change_dtypes(s):
    s=s.apply(remove_)
    s=s.apply(np.float64)
    return s
col_name=["TOTAL BOX OFFICE","TOTAL INFLATION ADJUSTED BOX OFFICE","AVERAGE TICKET PRICE"]
# print(project_dataframe["TOTAL BOX OFFICE"])
for i in col_name:
    project_dataframe[i]=change_dtypes(project_dataframe[i])

* Kiểu dữ liệu các cột sau khi đã xử lý

In [10]:
project_dataframe.dtypes

YEAR                                     int64
TICKETS SOLD                           float64
TOTAL BOX OFFICE                       float64
TOTAL INFLATION ADJUSTED BOX OFFICE    float64
AVERAGE TICKET PRICE                   float64
dtype: object

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?
• Số-lượng/tỉ-lệ các giá trị thiếu?

• Min? max? 

→ Có gì bất thường không?

• Số-lượng/tỉ-lệ các giá trị thiếu?

In [11]:


def missing_percent(s):
    missing_count=s.isnull().sum() + s[s==" "].count()
    result=float(missing_count)/float(s.shape[0]) * float(100)
    return result
print("missing_percent")
col_name=project_dataframe.columns
for i in col_name:
    missing=missing_percent(project_dataframe[i])
    print("{", i, ": ",missing, "}")

missing_percent
{ YEAR :  0.0 }
{ TICKETS SOLD :  0.0 }
{ TOTAL BOX OFFICE :  0.0 }
{ TOTAL INFLATION ADJUSTED BOX OFFICE :  0.0 }
{ AVERAGE TICKET PRICE :  0.0 }

=> vậy các cột không có dữ liệu thiếu

* Min/Max các cột

In [12]:
col_name=project_dataframe.columns
df=project_dataframe
for i in col_name:
    print(i,": {Min =", np.min(df[i]), ";Max =", np.max(df[i]), "}")

YEAR : { Min = 1995 ;Max = 2021  }
TICKETS SOLD : { Min = 223638958.0 ;Max = 1575756527.0  }
TOTAL BOX OFFICE : { Min = 2048534616.0 ;Max = 11948096650.0  }
TOTAL INFLATION ADJUSTED BOX OFFICE : { Min = 2048534616.0 ;Max = 14433929789.0  }
AVERAGE TICKET PRICE : { Min = 4.35 ;Max = 9.16  }

=> không có gì bất thường

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?
• Số-lượng/tỉ-lệ các giá trị thiếu?

• Số lượng các giá trị khác nhau? Show một vài giá trị

→ Có gì bất thường không?

# 4. Đưa ra các câu hỏi có ý nghĩa cần trả lời

# 5.Tiền xử lý + phân tích dữ liệu để trả lời cho từng câu hỏi